/* Add your custom extension styling here */
.weekly-commits-container {
    gap: 2px;
    padding: 0 2px;
}

.commit-box {
    width: 5px;
    height: 5px;
    border-radius: 1px;
    background-color: #888888;
    margin: auto;
    /* This centers vertically in the panel */
}

.commit-box-active {
    background-color: #4CAF50;
}